<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>anglibs</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->

    </head>
    <body ng-app="">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-3 border fix-height">
          <img src="/anglibs/images/mad-lib-happy-face.png" id="face">
        </div>
        <div class="col-xs-9 border fix-height">
          <img src="/anglibs/images/ng-mad-libs-logo.png" id="logo">
          <span id="automate">Automate This!</span>
        </div>
      </div>
    </div>
        <div class="row middle">
          <div class="col-xs-4">
            <input type="text" placeholder="Male Name" ng-model="maleName">
            <input type="text" placeholder="Job Title" ng-model="jobTitle">
            <input type="text" placeholder="Tedious Task" ng-model="tediousTask">
          </div>
          <div class="col-xs-4">
            <input type="text" placeholder="Dirty Task" ng-model="dirtyTask">
            <input type="text" placeholder="Celebrity" ng-model="celebrity">
            <input type="text" placeholder="Useless Skill" ng-model="uselessSkill">
          </div>
          <div class="col-xs-4">
            <input type="text" placeholder="Obnoxious Celebrity" ng-model="obnoxiousCeleb">
            <input type="text" placeholder="Huge Number" ng-model="hugeNumber">
            <input type="text" placeholder="Adjective" ng-model="adjective">
          </div>
        </div>
     <div class="row last">
      <div class="col-xs-8 col-xs-offset-2">
       <p id="hidden-until">
         <span class="bold-under">{{maleName}}</span> was a <span class="bold-under">{{jobTitle}}</span> who loved technology. Although he loved parts of his job, he absolutely hated <span class="bold-under">{{tediousTask}}</span> and <span class="bold-under">{{dirtyTask}}</span>. So, <span class="bold-under">{{maleName}}</span> met with his life mentor <span class="bold-under">{{celebrity}}</span> who told him to learn how to <span class="bold-under">{{uselessSkill}}</span> with Thinkful. Thinkful didn't offer a course on <span class="bold-under">{{uselessSkill}}</span> so he studied programming instead. 
 
         What a great decision! With his new skills, <span class="bold-under">{{maleName}}</span> built a(n) <span class="bold-under">{{adjective}}</span> robot named <span class="bold-under">{{obnoxiousCeleb}}</span> that not only loved <span class="bold-under">{{dirtyTask}}</span> but did it <span class="bold-under">{{hugeNumber}}</span> times faster. 
       </p>
     </div>
    </div>

      

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/bootstrap/js/affix.js"></script>
        <script src="bower_components/bootstrap/js/alert.js"></script>
        <script src="bower_components/bootstrap/js/dropdown.js"></script>
        <script src="bower_components/bootstrap/js/tooltip.js"></script>
        <script src="bower_components/bootstrap/js/modal.js"></script>
        <script src="bower_components/bootstrap/js/transition.js"></script>
        <script src="bower_components/bootstrap/js/button.js"></script>
        <script src="bower_components/bootstrap/js/popover.js"></script>
        <script src="bower_components/bootstrap/js/carousel.js"></script>
        <script src="bower_components/bootstrap/js/scrollspy.js"></script>
        <script src="bower_components/bootstrap/js/collapse.js"></script>
        <script src="bower_components/bootstrap/js/tab.js"></script>
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.16/angular.min.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
