input{
    display: block;
    text-align: center;
    margin: 20px auto;
}
#face{
    display: block;
    margin: auto;
}
#logo{
    display: block;
    margin: 0 auto;
    width: 80%;
    max-height: 150px;
}
.border{
    border: 2px solid black;
}
#automate{
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 36px;
}
.fix-height{
    height: 200px;
}
#hidden-until {
    margin-top: 40px;   
}
.bold-under{
    font-weight: bolder;
    text-decoration: underline;
    font-size: 1.7em;
}
p{
    display:none;
    font-size: 1.5em;
    font-weight: normal;
}
.middle{
    margin-top: 40px;
    border-bottom: 2px solid black;
    padding-bottom: 40px;
}